
r: rgb(0, 38, 255);
/* 文字のサイズ */
font-size: 30px;
/* 文字の箱に対する背景色 */
background-color: rgb(240, 1, 1);
/* 文字の箱に対するサイズ */
width: 200px;
/* 文字の箱に対する上の空白サイズ */
margin-top: 100px;
/* 文字の箱に対する下の空白サイズ */
margin-bottom: 100px;
/* 文字の箱に対する左の空白サイズ */
margin-left: 100px;
/* 文字の箱に対する右の空白サイズ */
margin-right: 100px;

}
/* クラス分けの練習 */
    .title{
    background-color: blueviolet;
    
    }
    /* クラスに対する文字サイズ */
.big{
font-size: 20px;
background-color: rgb(98, 0, 255);
}
/* id指定への適用言語複数持つのはNG　複数持てない */
#title{
font-size: 40px;
background-color: brown;
}

